Smart Customer Support Router.json
{
  "name": "Smart Customer Support Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6952a383-913f-4f9b-bac7-55f8175420d9",
      "name": "Webhook",
      "webhookId": "4a1f259a-5e6c-46d6-83e1-36d4587552f3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.customer_email }}",
        "subject": "We received your message.",
        "message": "Hi, \nThanks for contacting us.\nWe have received your message and our team will review it shortly.\n-Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "7f7ba5a3-5e0b-48a7-88c9-59892f9e1d5d",
      "name": "Send a message",
      "webhookId": "33f98a11-a017-4374-abd3-4171a83d2df4",
      "credentials": {
        "gmailOAuth2": {
          "id": "sq91ktee4EvpHaK5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let category = \"General\";\nconst message = $json.body && $json.body.message ? $json.body.message : \"\";\n\nif (message.includes(\"bug\") || message.includes(\"error\") || message.includes(\"issue\")) {\n  category = \"Bug\";\n} else if (message.includes(\"payment\") || message.includes(\"bill\") || message.includes(\"refund\")) {\n  category = \"Billing\";\n}\n\nreturn [{ ...$json, category }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d58baec8-5965-43b6-ab40-0bb19d4afb47",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ce00916b-8264-4552-8b04-831cb2abd5ff"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9be94154-1723-43b5-831b-c471208e34aa",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Bug",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f940d819-90ce-4d2a-af7c-3d1e19259826",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Billing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22fcc309-10f4-40f2-9c27-601747b6861a",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "General",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "0e18594b-6c63-412d-98af-620e673d4a61",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wM8kE8xGiaPj3CYAcbAqxX3yqBwGDTXN6uIiuBdn7ao",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wM8kE8xGiaPj3CYAcbAqxX3yqBwGDTXN6uIiuBdn7ao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wM8kE8xGiaPj3CYAcbAqxX3yqBwGDTXN6uIiuBdn7ao/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json[\"email\"] }}",
            "Message": "{{ $json[\"message\"] }}",
            "Category": "{{ $json[\"category\"] }}",
            "Time": "{{ $json[\"time\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -96
      ],
      "id": "6bf9f6a5-9fc6-457e-9fb5-4afe3b1a50a6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RFTTJSGZvl1B5xKo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "pipaliyashriya42@gmail.com",
        "toEmail": "billing@company.com",
        "subject": "Billing Issue-Immediate Attention",
        "html": "=Customer Email: {{$json.customer_email}}\n\nMessage:\n{{$json.message}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        832,
        96
      ],
      "id": "09a1f9f9-147d-4c67-b31f-947f0e505cc4",
      "name": "Send email",
      "webhookId": "b3ad5307-07a9-4665-80b1-34a9940b5226",
      "credentials": {
        "smtp": {
          "id": "ViKBO8V6CV091SNo",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AxPzDD5qIycoEuKIk5a3iJme2rlZQJ2hrKGJw3fu9hg",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AxPzDD5qIycoEuKIk5a3iJme2rlZQJ2hrKGJw3fu9hg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AxPzDD5qIycoEuKIk5a3iJme2rlZQJ2hrKGJw3fu9hg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.customer_email }}",
            "Message": "={{ $json.message }}",
            "Time": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        240
      ],
      "id": "f8e44d3b-2d9b-450e-8688-5eb76dcf1faa",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RFTTJSGZvl1B5xKo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "shriyapipaliya.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "88",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "64.227.21.251",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9b59c6d86446f3ba-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "64.227.21.251, 104.23.187.11",
            "x-forwarded-host": "shriyapipaliya.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-44-68df68bcf-nbsj5",
            "x-is-trusted": "yes",
            "x-real-ip": "64.227.21.251"
          },
          "params": {},
          "query": {},
          "body": {
            "customer_email": "test@example.com",
            "message": "I need a refund for my last payment"
          },
          "webhookUrl": "https://shriyapipaliya.app.n8n.cloud/webhook/customer-feedback",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e183705f-0318-4797-8145-ffe3c7fe4a54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ec9c35c6017e14232b7b8c172609e50dde9d90a76ac83fd09128cec9291a00a"
  },
  "id": "NAp7Yqmu5HVEq1yd",
  "tags": []
}